# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo

# iOS
ios/Pods/
ios/build/
ios/*.xcworkspace/xcshareddata/
ios/*.xcodeproj/xcshareddata/
ios/*.xcodeproj/project.xcworkspace/xcshareddata/
ios/*.xcodeproj/xcuserdata/
ios/*.xcworkspace/xcuserdata/

# Android
android/app/build/
android/build/
android/.gradle/
android/local.properties
android/*.iml
android/.idea/
android/app/.idea/
android/.settings/
android/app/release/
android/app/debug/
android/app/src/main/assets/
android/app/src/main/res/raw/
android/app/src/main/res/drawable-*/
android/app/src/main/res/mipmap-*/

# IDE
.idea/
.vscode/
*.swp
*.swo
